[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
requests = "*"
python-dotenv = "*"
python-telegram-bot = "*"
websockets = "*"
asyncio = "*"

[dev-packages]

[requires]
python_version = "3.12"
