[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
python-telegram-bot = "*"
requests = "*"
websocket = "*"
asyncio = "*"
websockets = "*"
pillow = "*"
nest-asyncio = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.0"
