[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
python-telegram-bot = "*"
pillow = "==9.5.0"
requests = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.0"
